<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
  </head>
  <body>
    <heading>New Message</heading>
    <form method="POST" action="/new">
      <label for="name">name</label>
      <input type="text" id="name" name="name" />
      <label for="message">message</label>
      <input type="text" id="message" name="message" />
      <button>submit</button>
    </form>
  </body>
</html>
